.VariableHola {
	content: @saludo;
}

.VariableSuma {
  content: @suma;
}
.VariableResta {
  content: @resta;
}

.VariableDivision {
  content: @division;
}

.VariableMultiplicacion {
  content: @mult;
}
.VariableTotal {
	content: @total;
}
.VariableFuncion {
	content: @funcion;
}